@import "./normalize.css";
@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Стили по умолчанию (десктоп) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 50px;  
   
}



.all {
max-width: 1600px;
width: 100%;
margin: auto;
padding-left: 84px;
padding-right: 85px;

}

.blocks {
  display: flex;
  flex-wrap: wrap;
}



.item {
    width: 27%;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 15px;
}

.png {
    width: 100%;
}

.first-block {
    min-height: 168px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;

}

.first {
    font-size: 30px;
    
}

.first-info {
    font-size: 25px;
   
}

/* Стили для планшета */

/* Стили для мобильных экранов */


.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 50px;  
   
}



section {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

h2 {
  font-family: Roboto Slab;
  font-size: 55px;
  max-width: 670px;
  padding: 0px 30px 30px 30px;
}

div {

    display:flex;
    justify-content: space-between;
    max-width: 670px;
    
}

.text{
    margin-bottom: 20px;
}


div {
    display: block;
}

.text {
  font-size: 24px;
  line-height: 36px; 
  
}

.container {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  margin-left: 150px;
   
}


h3 {
  font-size: 20px;  
}


p {     
  font-family: Roboto; 
  line-height: 130%;
  
}

.eght {
    max-width: 150px;
    margin-left: 100px;
    display:block;
    
}




.format-container {
  display: flex;
  
}


ul {
    font-size: 24px;
    font-family: Roboto;
    line-height: 36px;
    color: #000000;
  }


  .one {
    width: 300px;
  }
  

.info {
  margin-bottom: 50px;
  font-family: Roboto slab;
  font-size: 55px;
  line-height: 55.76px;
  font-weight: 700 bold;
  
}
.what,
.time {
  font-size: 25px;
  font-weight: 700;
  line-height: 32.5px;
  font-family: Roboto;
  color: #1e4681;
}
.dog,
.cat,
.hamster {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 23.4px;
  color: #000000;
}
.more {
  font-size: 55px;
  font-family: Roboto slab;
  font-weight: 700;
  line-height: 55.76px;
  margin-top: 340px;
  margin-bottom: 80px;
}
.next {
  font-size: 25px;
  font-weight: 700;
  line-height: 32.5px;
  font-family: Roboto;
  color: #1e4681;
}

.info,
.more {
  margin-left: 121px;
  margin-top: 162px;
}



.format-container {
  display: flex;
  align-items: center;
  padding: 0px 50px 20px 0px;
  
 
  
}

@media (max-width: 1279px) {
  .wrapper {
    font-family: Roboto;
    max-width: 834px;
    margin: auto;
  }

  .h1 {
    box-sizing: border-box;
    padding-top: 20px;
    margin: auto;
  }

  .text {
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
  }

  .container {
    width: 900px;
  }

  .eght {
    font-family: Roboto;
    padding-top: 20px;
    margin: auto;
  }
}


 

