@import "./normalize.css";
@import "./fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Стили по умолчанию (десктоп) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

h1 {
    font-family: Roboto Slab, serif;
    font-size: 55px;
    margin-left: 37px;
}

.all {
    max-width: 1600px;
    width: 100%;
    margin: auto;
    padding-left: 84px;
    padding-right: 85px;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 27%;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin: 15px;
}

.png {
    width: 100%;
}

.first-block {
    min-height: 168px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.first {
    font-size: 30px;
    margin-left: 20px;
}

.first-info {
    font-size: 25px;
    margin-left: 19px;
}

/* Стили для планшета */

/* Стили для мобильных экранов */

h1 {
  font-family: Roboto Slab;
  font-style: normal;
  width: 365px;
  font-size: 55px;
  line-height: 56px;
  color: black;
  align-content: center;
  padding-left: 121px;
}

div {
  display: block;
}

ul {
  font-size: 24px;
  font-family: Roboto;
  line-height: 36px;
  color: #000000;
}

.first {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  color: black;
  text-align: left;
  box-sizing: content-box;
  padding-left: 121px;
  padding-right: 657px;
}

.second {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  color: black;
  text-align: left;
  box-sizing: border-box;
  padding-left: 121px;
  padding-right: 657px;
}

.one {
  width: 17.4%;
}

img {
  position: absolute;
  width: 314px;
  display: block;
  height: 315px;
  padding-bottom: 1175px;
  margin-left: 1000px;
}

.ellips {
  position: absolute;
  width: 366px;
  height: 59px;
  margin-bottom: 1179px;
  margin-top: 312px;
}

.two {
  width: 21.15%;
  margin-left: 121px;
}

.done {
  width: 19.1%;
  margin-left: 113px;
}

.litle {
  position: absolute;
  width: 189px;
  height: 32px;
  margin-top: 295px;
  margin-left: 150px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.eght {
  font-family: Roboto;
  width: 150px;
  height: 39px;
  padding-left: 485px;
  padding-right: 153px;
  float: right;
  margin-top: 164px;
  margin-left: 100px;
  align-items: center;
}

h3,
h3,
h3 {
  font-size: 25px;
  font-weight: bold;
  line-height: 130%;
  font-style: normal;
}

p,
p,
p {
  font-size: 18px;
  font-family: Roboto;
  line-height: 130%;
}

.too {
  font-family: Roboto;
  width: 150px;
  height: 39px;
  padding-left: 0px;
  padding-right: 10px;
  float: right;
  margin-top: 164px;
  margin-left: 100px;
  align-items: center;
}

.three {
  font-family: Roboto;
  width: 150px;
  height: 39px;
  padding-left: 93px;
  padding-right: 10px;
  float: right;
  margin-top: 164px;
  margin-left: 100px;
  align-items: center;
}

.about,
.format-container {
  min-width: 1280px;
  max-width: 1600px;
  width: 89%;
  margin: auto;
}

.info {
  margin-bottom: 50px;
  font-family: Roboto slab;
  font-size: 55px;
  line-height: 55.76px;
  font-weight: 700 bold;
  color: #000000;
}
.what,
.time {
  font-size: 25px;
  font-weight: 700;
  line-height: 32.5px;
  font-family: Roboto;
  color: #1e4681;
}
.dog,
.cat,
.hamster {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 23.4px;
  color: #000000;
}
.more {
  font-size: 55px;
  font-family: Roboto slab;
  font-weight: 700;
  line-height: 55.76px;
  margin-top: 340px;
  margin-bottom: 80px;
}
.next {
  font-size: 25px;
  font-weight: 700;
  line-height: 32.5px;
  font-family: Roboto;
  color: #1e4681;
}
.info,
.more {
  margin-left: 121px;
  margin-top: 162px;
}

.format-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1279px) {
  .wrapper {
    font-family: Roboto;
    width: 100%;
    max-width: 834px;
    margin: auto;
  }

  .h1 {
    font-family: Roboto;
    box-sizing: border-box;
    padding-top: 20px;
    margin: auto;
  }

  .first,
  .second {
    font-family: Roboto;
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
  }

  .container {
    width: 900px;
  }

  img {
    padding-left: 20px;
  }

  .ellips {
    padding-right: 20px;
  }

  .eght,
  .too,
  .three {
    font-family: Roboto;

    padding-top: 20px;
    margin: auto;
  }
}

@media (max-width: 991px) {
  .wrapper {
    max-width: 375px;
    width: 100%;
    margin: auto;
  }
}
